.wrapper {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 64px auto;
    .title h1 {
      font: 600 32px "Montserrat";
      color: white;
    }
    .paragraph {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      p {
        font: 400 20px "Montserrat";
        color: white;
      }
    }
  }
  
  @media (max-width: 600px) and (min-width: 300px) and (max-height: 900px) and (min-height: 600px) {
    .wrapper {
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin: 40px 0 0 120px;
      .title h1 {
        font: 500 30px "Montserrat";
        color: white;
      }
      .paragraph {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        p {
          font: 400 20px "Montserrat";
          color: white;
        }
      }
    }
  }