.footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 200px 0 100px 155px;
    .firstParagraphs {
      .mntn {
        font: 600 32px "Montserrat";
        color: white;
      }
      .getOutThere {
        font: 400 18px "Montserrat";
        color: white;
        margin-top: 24px;
      }
      .copyright {
        font: 500 18px "Montserrat";
        color: rgb(99, 99, 99);
        margin-top: 122px;
      }
    }
    .secondParagraphs {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .moreOnTheBlog {
        font: 500 18px "Montserrat";
        color: #fbd784;
      }
      p {
        font: 400 18px "Montserrat";
        color: white;
      }
    }
    .thirdParagraphs {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .moreOnMNTN {
        font: 500 18px "Montserrat";
        color: #fbd784;
      }
      p {
        font: 400 18px "Montserrat";
        color: white;
      }
    }
  }
  
  @media (max-width: 600px) and (min-width: 300px) and (max-height: 900px) and (min-height: 600px) {
    .footer {
      display: flex;
      justify-content: space-between;
      width: 730px;
      margin: 150px 0 150px 50px;
      .firstParagraphs {
        width: 300px;
        .mntn {
          font: 500 25px "Montserrat";
          color: white;
        }
        .getOutThere {
          font: 400 15px "Montserrat";
          color: white;
          margin-top: 15px;
        }
        .copyright {
          font: 500 18px "Montserrat";
          color: rgb(99, 99, 99);
          margin-top: 87px;
        }
      }
      .secondParagraphs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .moreOnTheBlog {
          font: 400 18px "Montserrat";
          color: #fbd784;
        }
        p {
          font: 350 18px "Montserrat";
          color: white;
        }
      }
      .thirdParagraphs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .moreOnMNTN {
          font: 350 18px "Montserrat";
          color: #fbd784;
        }
        p {
          font: 400 18px "Montserrat";
          color: white;
        }
      }
    }
  }